body{
    font-family: 'Delius Unicase', cursive;
    height:auto;
    width: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    place-items: center;
    background: white;
}

button{
    position: relative;
    padding: 40px 80px;
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    background: teal;
    color: black;
    font-size: 30px;
    transform: skew(30deg, -10deg);
    font-family: 'Delius Unicase', cursive;
}